.link-footer {
    font-size: 0.7rem !important;
  }
@media (max-width: 769px) {
    .link-footer {
    font-size: 0.5rem !important;
    }
}
@media (max-width: 576px) {
    .link-footer {
    font-size: 5px !important;
    }
}

@media (max-width: 576px) {
    .options-text {
        font-size: 10px !important;
    }
}

@media (max-width: 576px) {
    .card-header-text {
        font-size: 13px !important;
    }
}

@media (max-width: 576px) {
    .card-body-text {
        font-size: 13px !important;
    }
}