.link-footer {
    font-size: 13px;
}


@media (max-width: 576px) {
    .link-footer {
        font-size: 10px;
    }
}

@media (max-width: 576px) {
    .options-text {
        font-size: 10px !important;
    }
}

@media (max-width: 576px) {
    .card-header-text {
        font-size: 13px !important;
    }
}

@media (max-width: 576px) {
    .card-body-text {
        font-size: 13px !important;
    }
}

.fix-problem {
    margin-top: -0.5px;
  }